div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 10px;
    text-align: center;
}

div:hover {
    font-size: 50px; 
    color: black;
}

.red {
    background-color: #ff4d4d;
    color: #ff4d4d;
}

.yellow {
    background-color: #ffff4d;
    color: #ffff4d;
}

.green {
    background-color: #4dff4d;
    color: #4dff4d;
}

.red:hover {
    background-color: red;
}

.yellow:hover {
    background-color: yellow;
}

.green:hover {
    background-color: green;
}