div {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 100px;
    margin: 10px;
    text-align: center;
}

div:hover {
    font-size: 50px; 
    color: black;
}

ul li{
    display: inline-block;
}
.red {
    background-color: #ff4d4d;
    color: #ff4d4d;
}

.yellow {
    background-color: #ffff4d;
    color: #ffff4d;
}

.green {
    background-color: #4dff4d;
    color: #4dff4d;
}

.red:hover {
    background-color: red;
}

.yellow:hover {
    background-color: yellow;
}

.green:hover {
    background-color: green;
}

li:first-child {
    background-color: blue;
}

li:first-child div:hover {
   background-color: yellow;
}

li:last-child {
    background-color: orange;
}

li:last-child div:hover {
   background-color: red;
}

li:nth-child(3) {
    background-color: pink;
}

li:nth-child(3) div:hover {
   background-color: brown;
}

#li2, #li4 {
     background-color: brown;
}

#li4 + li {
    background-color: grey; 
}

pre:first-letter {
    font-size: 30px;
}

pre::after { 
    content: "*******";
}

p::first-line {
    font-family: fantasy;
}

pre {
     margin-left: 50px;
     margin-top: -30px;
}